registry=http://nexus.moonshot-marketing.com:8081/repository/npm-group/
init.author.name = Creator
init.author.email = creator@moonshot.co.il
email=creator@moonshot.co.il
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
